<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/index2.css}" />

  <title>Panificados El Galpon</title>
</head>

<body class="index_body">
  <div class="div_contacto">
    <div class="div_numero">
      <img th:src="@{/fotos/telefono.png}" alt="">
      <p>Número de celular</p>
    </div>
    <div class="div_mail">
      <img th:src="@{/fotos/correo.png}" alt="">
      <p>mail@gmail.com</p>
    </div>
  </div>
  <main class="main_listado">
    <div class="div_form">
      <h1>Pedidos</h1>
      <br />
      <div th:if="${pedidos != null}">
        <table class="tabla">
          <thead>
            <tr>
              <th class="columna">Nombre Pedido:</th>
              <th class="columna">Panes c/ Queso:</th>
              <th class="columna">Panes s/ Queso:</th>
              <th class="columna">Pizza:</th>
              <th class="columna">Numero:</th>
              <th class="columna">Mail:</th>
              <th class="columna">Retiro Local:</th>
              <th class="columna">Domicilio:</th>
            </tr>
          </thead>
          <tbody>
            <tr class="columna_resp" th:each="pedido : ${pedidos}">
              <td th:text="${pedido.nombrePedido}"></td>
              <td th:text="${pedido.panesQueso}"></td>
              <td th:text="${pedido.panesSinQueso}"></td>
              <td th:text="${pedido.Pizza}"></td>
              <td th:text="${pedido.numero}"></td>
              <td th:text="${pedido.mail}"></td>
              <td th:text="${pedido.retiroLocal}"></td>
              <td th:text="${pedido.envioDomicilio}"></td>
              <td>
                <form method="post" th:action="@{/pedidos/eliminar/__${pedido.id}__}">
                  <button class="inicio" type="submit">eliminar</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a th:href="@{/index}">Inicio</a>
    <footer class="footer">
      <hr>
      <div class="footer_div">
        <h2 class="footer_nombre">°Since 2018</h2>
        <a href=""><img class="imagen" th:src="@{/fotos/facebook.png}" alt="facebook"></a>
        <a href=""><img class="imagen" th:src="@{/fotos/instagram.png}" alt="instagram"></a>

      </div>
    </footer>
  </main>
</body>